/**
    We use css variables
    support is listed here
    [https://caniuse.com/#feat=css-variables]
 */
html {
    --color-black: #0f0a33;
    --color-white: #ffffff;

    --color-background: #e3e2da;
    --color-title: var(--color-black);
    --color-header: var(--color-black);
    --color-content: var(--color-black);
    --color-link: #ab2026;

    --font-size-title: 27px;
    --font-size-header: 18px;
    --font-size-content: 18px;
    --font-size-link: 18px;

    --font-familly-general: 'IBMPlexSans-Regular', serif;
    --font-familly-title: 'IBMPlexSans-Bold', serif;
    --font-familly-header: 'IBMPlexSans-Bold', serif;
    --font-familly-content: 'IBMPlexSans-Regular', serif;
    --font-familly-link: 'IBMPlexSans-Regular', serif;

    --margin-large: 30px;
}

@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url("../fonts/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Bold.woff") format("woff"), url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url("../fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    margin: 20px;
    font-family: var(--font-familly-general);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.title {
    text-align: left;
    color: var(--color-title);
    font-size: var(--font-size-title);
    font-family: var(--font-familly-title);
    margin: 0;
}

.content {
    color: var(--color-content);
    font-size: var(--font-size-content);
    font-family: var(--font-familly-content);
    margin: 0 0;
}

.header {
    text-align: left;
    color: var(--color-header);
    font-size: var(--font-size-header);
    font-family: var(--font-familly-header);
    margin: 0;
    padding: 0;
}

.link {
    color: var(--color-link);
    font-size: var(--font-size-link);
    font-family: var(--font-familly-link);
    text-decoration: none;
}

.image {
    max-width: 100%;
    height: auto;
}
